<button class="bt" id="like" type="button" name="button" (click)="like()"><i class="fas fa-thumbs-up">{{ upvote }}</i> </button>
<button class="bt" id="dislike" type="button" name="button" (click)="dislike()"><i class="fas fa-thumbs-down"></i>{{ downvote }} </button>

<p> {{ quote.description }} </p>
<p>Published by: <strong>{{quote.publisher}}</strong></p>
<p><em> Posted <strong>{{quote.completeDate|timeAgo}}</strong></em></p>

<br>
<button class = "btn btn-danger"(click) = 'quoteDelete(true)'>Delete</button>
