<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
          <div class="form-group">
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.name" name="description" #description="ngModel" placeholder="Quote"></textarea>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.description" name="name" #name="ngModel" placeholder="Author">
          </div>

          <div class="form-group">
            <input type="text" required class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel" placeholder="Publisher">
          </div>

          <hr>
          <div class="form-group">
            <input type='date' id="date" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" placeholder="Date">
          </div>

          <button type="submit" class="btn btn-dark btn-lg">Quote your quote</button>
        </form>
      </div>
    </div>
  </div>
</div>
